


.medialib-list table
{
    width: 100%;
    border-collapse: collapse;
}

.medialib-list th,
.medialib-list td
{
    text-align: left;
}

.medialib-list td:first-child
{
    text-align: center;
    width: 1.5em;
}

.medialib-list table,
.medialib-list th,
.medialib-list td
{
    border: 1px solid lightgrey;
}

.medialib-list a
{
    color: black;
}

.medialib-links a
{
    margin: 3px;
}

