
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
}

table {
  width: 100%;
}

td {
  /* width: 100%; */
  text-align: center;
}

.button {
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px;
}

.medialist table {
	border-collapse: collapse;
}
.medialist th,td {
  text-align: left;
}
.medialist table,th,td {
  border: 1px solid lightgrey;
}

