<!DOCTYPE html PUBLIC "-//W3C/DTD HTML 4.01//EN">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/style.css" />

    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/common.js"></script>
</head>
<body>

<a href="/">Root</a> | <a href="index.html">Remote</a> | <a href="player.html">Player</a> | <a href="/medialib/playlist.html">Medialib Playlist</a> | <a href="/medialib/add.html">Medialib</a>

<% player = nerve.get_device('player') %>
<% if not player: %>
    <div>This node does not have a 'player' device</div>
<% else: %>

<%
    if py._REQTYPE == "POST":
	if py.ARGS('play'):
	    player.playlist_seek(py.ARGS('play'))
	end
    end
%>

<% playlist = player.getplaylist(None) %>

<div class="files"><%= len(playlist) %> files in playlist.</div>

<div class="medialist">

    <% if playlist: %>
    <% #echo('<pre>' + json.dumps(playlist, sort_keys=True, indent=4, separators=(',', ':')) + '</pre>') %>
    <table>
    <thead><tr>
	<th></th>
	<th>Name</th>
    </tr></thead>
    <tbody>
	<% for num,media in enumerate(playlist, 1): %>
	    <tr><td><%= num %></td><td><a href="#" class="play_seek" data-id="<%= media['id'] %>"><%= media['name'] %></a></td></tr>
	<% end %>
    </tbody>
    </table>
    <% end %>

</div>

<script type="text/javascript">

    $(document).ready(function()
    {
	$('.play_seek').click(function (e) {
	    e.preventDefault();
	    var id = $(this).attr('data-id');
	    $.post('/remote/player.html', {'play':id}, function(response) {
	    }, 'json');
	});
    });

</script>

<% end %>

</body>
</html> 
 
