
html {
    font-family: Geneva, "DejaVu Sans", "Arial Unicode MS", sans-serif;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 4px;
    margin-bottom: 10em;

    background-color: #2E2E2E;
    color: #CCC;
}

h5,
h6 {
    margin-top: 0px;
    margin-bottom: 4px;
}

hr {
    border-color: #333;
}

a {
    color: #3A8ECD;
}

button {
    color: #CCC;
    background: #505050;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-bottom: 1px solid #111;
    border-right: 1px solid #111;
}

button:hover {
    background: #3A8ECD;
    color: #CCC;
}

input,
textarea,
select {
    background: #2E2E2E;
    font-size: 14px;
}

canvas {
    background: #A0A0A0;
}

table td,
table th {
    padding: 3px;
}

#nerve-notice {
    border: 1px solid #333;
    background-color: #090;
}

#nerve-error {
    border: 1px solid #333;
    background-color: #900;
}

.nerve-table table,
.nerve-table th,
.nerve-table td {
    border: 1px solid #595959;
    /* border: 1px solid #24618e; */
    /* background-color: #505050; */
}

.nerve-display {
    border: 1px solid #3A8ECD;
    background-color: #505050;
}

.nerve-tabs {
    border-top: 5px solid #3A8ECD;
}

.nerve-tabs .tab {
    border-right: 1px solid #3A8ECD;
    background-color: #2E2E2E;
    color: #CCC;
}

.nerve-tabs .selected {
    background-color: #3A8ECD;
    color: #fff;
}

.nerve-form-list {
    border: 1px solid #000;
}

.nerve-form-tree li > label {
    background-color: #3A8ECD;
    border: 1px solid #222;
    color: #fff;
}

.nerve-form-tree .alt-label {
    background-color: #505050;
    border: 1px solid #222;
    color: #CCC;
}

.nerve-dialog {
    background-color: #2E2E2E;
    border-color: #3A8ECD;
}


.nerve-background {
    background-color: #2E2E2E;
}

.nerve-highlight {
    background-color: #3A8ECD;
}

.nerve-highlight-dim {
    background-color: #505050;
}

.nerve-success {
    background-color: #090;
}

.nerve-warning {
    background-color: #990;
}

.nerve-error {
    background-color: #900;
}

