
html {
    font-family: Geneva, "DejaVu Sans", "Arial Unicode MS", sans-serif;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 4px;
    margin-bottom: 10em;
}

h5,
h6 {
    margin-top: 0px;
    margin-bottom: 4px;
}

hr {
    border-color: #70B008;
}

a {
    color: #000;
}

button {
    color: #000;
    background: #f7f7f7;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

button:hover {
    background: #80C008;
    color: #fff;
}

input,
textarea,
select {
    background: #EFFFDF;
    font: 14px sans-serif;
}

table,
th,
td {
    border: 1px solid lightgrey;
}

#nerve-notice {
    border: 1px solid #333;
    background-color: #9f9;
}

#nerve-error {
    border: 1px solid #333;
    background-color: #f99;
}

.nerve-display {
    border: 1px solid #70B008;
    background: #DFFFBF;
}

.nerve-tabs {
    border-top: 5px solid #80C008;
}

.nerve-tabs .tab {
    border-right: 1px solid #80C008;
    background-color: #EFFFDF;
}

.nerve-tabs .selected {
    background-color: #80C008;
    color: #fff;
}

.nerve-form-list {
    border: 1px solid #70B008;
}

.nerve-highlight {
    background: #80C008;
}

