

button.nerve-button,
button.nerve-input-submit {
    min-height: 1.75em;
    font-size: 1.25em;
}

input.nerve-slider {
    height: 2.50em;
    font-size: 1.25em;
    margin-left: 1.0em;
    margin-right: 1.0em;
}

.nerve-display {
    font-size: 1.25em;
}


#main {
    width: 100%;
    display: table;
}

#content {
    display: table-cell;
}

#sidebar {
    display: table-cell;
    width: 6em;
}

/*
This is a neat way of doing the same thing, which is apparently less known about.  I'm not
sure which way I prefer.  The cells method is kinda nice though

#main {
    width: 100%;
}

#content {
    overflow: hidden;
}

#sidebar {
    width: 10em;
    float: left;
}
*/


#block-editor {
    margin-right: 1em;
}

#block-editor-name {
    width: 100%;
    margin-bottom: 1em;
}

#block-editor-text {
    font-family: monospace;

    width: 100%;
    height: 20em;
    margin-bottom: 0.5em;

    overflow: auto;
    white-space: pre;
}


#page-editor {
    margin-right: 1em;
}


.page-block-list {
    border: none;
    margin-bottom: 6px;
}

.page-block-list td {
    border: none;
    padding: 2px;
}

.page-block-list td:first-child {
    padding-right: 1em;
}

