
#notice
{
    border: 1px solid #333;
    padding: 5px;
    background-color: #9f9;
    margin-bottom: 20px;
}

#error
{
    border: 1px solid #333;
    padding: 5px;
    background-color: #f99;
    margin-bottom: 20px;
}

.nerve-medialist table {
    border-collapse: collapse;
}
.nerve-medialist th,
.nerve-medialist td {
    text-align: left;
}
.nerve-medialist table,
.nerve-medialist th,
.nerve-medialist td {
    border: 1px solid lightgrey;
}

.nerve-medialist a {
    color: black;
}

