<!DOCTYPE html PUBLIC "-//W3C/DTD HTML 4.01//EN">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/style.css" />

    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/common.js"></script>
</head>
<body>

<a name="top"></a>
<a href="/">Root</a> | <a href="index.html">Remote</a> | <a href="player.html">Player</a> | <a href="playlist.html">Current Playlist</a> | <a href="add.html">Add Media</a> | <a href="youtube_search.html">Search YouTube</a>
<hr>

<% medialib = nerve.get_device('medialib') %>

<%
    if py._REQTYPE == "POST":
	num = medialib.html_make_playlist(py._POST)
	if num > 0:
	    %><span class="success">Successfully added <%= num %> files to playlist</span><%
	else:
	    %><span class="error">Error: No files added to playlist</span><%
	end
    end
%>

<%
    mode = py.ARGS('mode', default='artist').lower()
    order = py.ARGS('order', default='artist').lower()
    offset = py.ARGS('offset', default='0')
    limit = py.ARGS('limit', default='1000')
    search = urldecode(py.ARGS('search'))
    recent = py.ARGS('recent')
    media_type = py.ARGS('type')

    media_list = medialib.get_media_list(mode, order, offset, limit, urldecode(search), recent, media_type)

    if media_list:
	has_album = True if 'album' in media_list[0] else False
	has_genre = True if 'genre' in media_list[0] else False
	has_title = True if 'title' in media_list[0] else False
	has_track_num = True if 'track_num' in media_list[0] else False
    end
%>

<div>
    <a href="<%= py._PATH %>?mode=artist">By Artist</a>
    <a href="<%= py._PATH %>?mode=album">By Album</a>
    <a href="<%= py._PATH %>?mode=genre&order=genre">By Genre</a>
    <a href="<%= py._PATH %>?mode=title&order=artist">By Title</a>
    <a href="<%= py._PATH %>?mode=album&order=modified">By Modified Date</a>
    <a href="<%= py._PATH %>?mode=album&recent=52">Most Recent</a>
    <a href="<%= py._PATH %>?mode=album&order=random">Random</a>
</div>

<div>
    <% for ch in range(ord('A'), ord('Z') + 1): %>
	<a href="<%= py._PATH %>?mode=title&order=artist&search=<%= chr(ch) %>%"><%= chr(ch) %></a>
    <% end %>
</div>

<form method="get" action="<%= py._PATH %>">
    <select name="mode">
	<option value="title" <%= ' selected' if mode == 'title' else '' %>>title</option>
	<option value="artist" <%= ' selected' if mode == 'artist' else '' %>>artist</option>
	<option value="album" <%= ' selected' if mode == 'album' else '' %>>album</option>
	<option value="genre" <%= ' selected' if mode == 'genre' else '' %>>genre</option>
    </select>

    <select name="type">
	<option value="" <%= ' selected' if not media_type else '' %>>any</option>
	<option value="audio" <%= ' selected' if media_type == 'audio' else '' %>>audio</option>
	<option value="video" <%= ' selected' if media_type == 'video' else '' %>>video</option>
    </select>

    <input type="text" name="recent" value="<%= recent if recent else '' %>">

    <br />

    <select name="order">
	<option value="artist" <%= ' selected' if order == 'artist' else '' %>>artist</option>
	<option value="album" <%= ' selected' if order == 'album' else '' %>>album</option>
	<option value="title" <%= ' selected' if order == 'title' else '' %>>title</option>
	<option value="genre" <%= ' selected' if order == 'genre' else '' %>>genre</option>
	<option value="tags" <%= ' selected' if order == 'tags' else '' %>>tags</option>
	<option value="modified" <%= ' selected' if order == 'modified' else '' %>>last modified</option>
    </select>
    <input type="text" name="search" value="<%= search if search else '%%' %>">
    <button type="submit" name="pl_search" value="">Search</button>
</form>

<hr>

<% if media_list: %>
    <form method="post" action="<%= py._PATH %>">
    <div class="medialist">
	<button type="submit" name="pl_replace" value="1">Replace</button>
	<button type="submit" name="pl_enqueue" value="1">Enqueue</button>

	<input type="hidden" name="mode" value="<% echo(mode) %>">
	<input type="hidden" name="order" value="<% echo(order) %>">
	<input type="hidden" name="offset" value="<% echo(offset) %>">
	<input type="hidden" name="limit" value="<% echo(limit) %>">
	<input type="hidden" name="search" value="<% echo(urlencode(search)) %>">
	<input type="hidden" name="recent" value="<% echo(recent) %>">
	<input type="hidden" name="type" value="<% echo(media_type) %>">

	<table>
	<thead><tr>
	    <th></th>
	    <th>Artist</th>
	    <% if has_title: %>
		<th>Title</th>
	    <% end %>
	    <% if has_album: %>
		<th>Album</th>
	    <% end %>
	    <% if has_track_num: %>
		<th>#</th>
	    <% end %>
	    <% if has_genre: %>
		<th>Genre</th>
	    <% end %>
	</tr></thead>
	<tbody>
	    <% for media in media_list: %>
		<tr>
		    <%
		    if mode == 'artist':
			dataname = 'artist'
			dataval = urlencode(media['artist'])
		    elif mode == 'album' or mode == 'genre':
			dataname = 'album'
			dataval = urlencode(media['artist']) +" - " + urlencode(media['album'])
		    elif mode == 'title' or mode == 'tags':
			dataname = 'id'
			dataval = media['id']
		    end
		    %>
		    <td><input type="checkbox" name="<%= dataname %>" value="<%= dataval %>" /></td>
		    <td><a href="<%= py._PATH %>?mode=title&order=artist&search=<%= urlencode(media['artist']) %>"><%= media['artist'] %></a></td>
		    <% if has_title: %>
			<td><%= media['title'] %></td>
		    <% end %>
		    <% if has_album: %>
			<td><%= media['album'] %></td>
		    <% end %>
		    <% if has_track_num: %>
			<td><%= media['track_num'] %></td>
		    <% end %>
		    <% if has_genre: %>
			<td><%= media['genre'] %></td>
		    <% end %>
		</tr>
	    <% end %>
	</tbody>
	</table>

	<button type="submit" name="pl_replace" value="1">Replace</button>
	<button type="submit" name="pl_enqueue" value="1">Enqueue</button>
    </div>
    </form>
    <a href="#top">Top</a>

<% elif py.ARGS('mode'): %>
    <span>No media files found using the given search criteria</span>
<% end %>

</body>
</html> 
 
