

.youtube-video {
    padding-top: 4px;
}

.youtube-video .youtube-channel {
    font-size: 0.8em;
}

.youtube-video img {
    float: left;
}

.youtube-video:after {
    clear: both;
    display: block;
    content: '';
}

